.more-cards {
  display: block;
  width: 288px;
  height: 64px;
  margin: 64px auto auto;
  border: none;
  outline: none;
  border-radius: 32px;
  color: #1A1B22;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.more-cards:hover {
  opacity: 0.9;
}