.footer__copyright {
  margin-left: 3%;
  margin-right: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 16px;
  }
}