.card__bookmark-image {
  width: 14px;
  height: 19px;
  background-image: url(../../../../images/normal.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card__bookmark:hover .card__bookmark-image {
  background-image: url(../../../../images/hover.jpg);
}

.card__bookmark-image.card__bookmark-image_marked {
  background-image: url(../../../../images/marked.jpg);
}

.card__bookmark:hover .card__bookmark-image_marked {
  background-image: url(../../../../images/marked.jpg);
}