.card__bookmark-tip {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 69px;
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .card__bookmark-tip {
      display: none;
  }
}

.authorized .card__bookmark-tip.card__bookmark-tip_show {
  display: none;
}

.card__bookmark-tip.card__bookmark-tip_show {
  display: flex;
}