@import url(./header/header.css);
@import url(./search-block/search-block.css);

.search {
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 500px) {
  .search {
    height: 536px;
  }
}