.popup__registration {
  margin-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #2F71E5;
}