.popup__enter-reg {
  cursor: pointer;
  align-self: baseline;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
}