.menu__button_popup {
  display: none;
  align-items: center;
  text-align: center;
  width: auto;
  height: 56px;
  border-radius: 100px;
}

@media screen and (max-width: 500px) {
  .menu__button_popup {
    display: flex;
  }
}