@import url(./__image/not-found__image.css);
@import url(./__subtitle/not-found__subtitle.css);
@import url(./__title/not-found__title.css);

.not-found {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 374px;
  background: #F5F6F7;
}

.not-found.not-found_show {
  display: flex;
}