@import url(./__button/menu__button.css);
@import url(./__button-text/menu__button-text.css);
@import url(./__button-image/menu__button-image.css);
@import url(./__main/menu__main.css);
@import url(./__articles/menu__articles.css);
@import url(./__close/menu__close.css);

.menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .menu {
    display: none;
  }
}